<?xml version="1.0"?>

<model>
  <name>path_flor</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Naiane Marina Silva</name>
    <email>naianemarinam@gmail.com</email>
  </author>

  <description>
    A model of a path used for visual path following on LaR, UFBA.
  </description>

</model>
